// about section
.about {
    position: relative;
    // regularisation par rapport au header
    top: -60px;
    background-color: $gris;
    padding-top: 50px;
    padding-bottom: 50px;
    .circle-icon {
        margin: auto;
    }

    .card {
        // enlever les bords aux cards
        border: none;
        background-color: $gris;
        i {
            padding-bottom: 15px;  
        }
// couleurs personnalise 
        .fa-address-card {
            color: green!important;
        }

        .fa-book-open {
            color: yellow;
        }

        .fa-bezier-curve {
            color: green;
        }

        .fa-walking {
            color: yellow;
        }
    }

}
// animation section
.animation {
    padding-bottom: 50px;

    .cadre {
        width: 100px;
        height: 50px;
        background-color: red;
        text-align: center;
        line-height: 50px;
       &:nth-child(2) {
        margin-top: 30px;
       
       }
        
    }
    .contenu {
        margin-bottom: 30px;
        
    }
}